
<div class="container my-5">
  <h3 class="text-center">Resumen de tu Cuenta</h3>
  <div class="row my-4">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Rendimientos
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>19.7%</h3>
          <p>
            $4,500
            <span>Intereses Recibidos</span>
          </p>
          <mat-list>
            <h3 mat-subheader>Comisiones</h3>
            <mat-list-item>
              <h4>$200</h4>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Valor de la Cuenta.
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>$3,000</h3>
          <mat-list>
            <h3 mat-subheader>Dinero Disponible</h3>
            <mat-list-item>
              <h4>$1,300</h4>
            </mat-list-item>
            <h3 mat-subheader>En Fondeo</h3>
            <mat-list-item>
              <h4>$750</h4>
            </mat-list-item>
            <h3 mat-subheader>Pendiente de Pago</h3>
            <mat-list-item>
              <h4>$850</h4>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
 </div>
 <div class="container mb-5">
    <h3>Retirar Fondos</h3>
    <p>Indique el Importe que desea retirar y en que cuanta desea abonarlo.</p>
    <p>Puede tardar de 2 a 3 días habiles en concluir esta transferencia.</p>
    <div>
      <form action="">
        <div class="form-group">
          <label for="">Dinero Disponible</label>
          <input type="text" class="form-control" readonly value="$1,300">
        </div>
        <div class="form-group">
          <label for="">Importe</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Cuenta</label>
          <select name="" id="" class="form-control">
            <option value="1">################</option>
            <option value="">$$$$$$$$$$$$$$$$</option>
          </select>
        </div>
        <div>
          <button mat-raised-button>Retirar Fondos</button>
        </div>
      </form>
    </div>
 </div>