<div class="cont">
  <h1>Perfil</h1>
  <div class="cntLeft">
    <div class="item">
      <div id="profile" class="target compact">
        <div class="profileHeader">
          <button id="edit" class="edit">
            <i data-eva="edit-outline" data-eva-width="20" data-eva-height="20"  data-eva-fill="#A5A4BF"></i>
            <i data-eva="close-outline" data-eva-width="20" data-eva-height="20"  data-eva-fill="#A5A4BF"></i>
          </button>
          <div class="photo">
            <img [src]="photo" alt="" (click)="updateImg()">
            <input type="file" (change)="selectImg($event.target.files[0])" id="imgen" style="display: none;">
          </div>
          <div class="info">
            <label class="name">
              Arturo Figueroa Vargas
            </label>
            <label class="rfc">
              FIVA831123
            </label>
          </div>
        </div>
        <form (ngSubmit)="updatePersonInfo()">
         <section class="editSpace">
            <span class="ltitle">
              Nombre
              <input type="text" value="Arturo Figueroa Vargas">
            </span>
            <span class="ltitle">
              RFC
              <input type="text" value="FIVA831123" readonly>
            </span>
            <span class="ltitle">
              Dirección
              <textarea name="" id="" value="" cols="30" rows="2">Ramos Millán No. 61 Col Emiliano Zapata</textarea>
            </span>
            <button type="submit">Actualizar</button>
          </section>
        </form>
      </div>
    </div>
  </div>

  <div class="cntRight">
    <div class="item">
      <div class="target">
        <div class="title">
          Datos Bancarios
        </div>
        <span>
          <button mat-raised-button (click)="openMod()">Formulario</button>
        </span>
      </div>
    </div>

    <div class="item">
      <div class="target">
        <div class="title">
          Datos de Contacto
        </div>
        <form action="">
          <input type="text" placeholder="Teléfono">
          <input type="text" placeholder="Correo Electrónico">
          <input type="text" placeholder="Facebook">
          <button style="width: 100% !important;">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>