<header>

</header>

<div id="formSpace">
  <div class="cnt">
      <img routerLink='/' src="../../assets/img/finantekaPurple.svg" height="40" alt="" srcset="">
      <img routerLink='/' src="../../assets/img/finanteka.svg" height="40" alt="" srcset="">
      <p>Bienvenido de nuevo, por favor ingresa con tu cuenta</p>
      <form (ngSubmit)="sendForm()" [formGroup]="loginForm">
        <div class="g">
          <div>
            <span *ngIf="loginForm.get('email').hasError('required') && !loginForm.get('email').pristine">Requerido</span>
            <span *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').pristine">Debe de ser válido</span>
            <input required type="email" placeholder="Correo Electrónico" formControlName="email">
          </div>
          <div>
            <span *ngIf="loginForm.get('password').hasError('required') && !loginForm.get('password').pristine">Requerido</span>
            <input required type="password" placeholder="Contraseña" formControlName="password">
          </div>
        </div>
        <div class="options">
          <div class="rem">
            <mat-checkbox formControlName="rememberme">Recuérdame</mat-checkbox>
          </div>
          <div class="for">
            <a href="#">Olvidé mi contraseña</a>
          </div>
        </div>
        <div class="buttons">
          <button class="done" type="submit">Ingresar</button>
          <button style="color: #239c81;" routerLink='/register'>Regístrame</button>
        </div>
      </form>
      <span class="or">o</span>
      <div class="logBtns">
        <button style="color: blue;">Facebook</button>
        <button type="button" style="color: maroon;" id="btnGoogle">Google</button>
      </div>
  </div>
  <a class="tu" href="#">Términos de uso y política de privacidad</a>
</div>
