<header>

</header>

<div id="formSpace">
  <div class="cnt">
      <img src="../../assets/img/finantekaPurple.svg" height="40" alt="" srcset="">
      <p>Bienvenido de nuevo, por favor ingresa con tu cuenta</p>
      <form action="">
        <div class="g">
          <input type="text" name="email" placeholder="Correo Electrónico" id="">
          <input type="text" name="password" placeholder="Contraseña" id="">
        </div>
        <div class="options">
          <div class="rem">
            <input type="checkbox" name="rememberme" id=""> 
            <span>Recuérdame</span>
          </div>
          <div class="for">
            <a href="#">Olvidé mi contraseña</a>
          </div>
        </div>
        <div class="buttons">
          <button class="done">Ingresar</button>
          <button style="color: #43425D;" routerLink='/register'>Regístrame</button>
        </div>
      </form>
  </div>
  <a class="tu" href="#">Términos de uso y política de privacidad</a>
</div>

<!--
<div class="container">
  <div class="my-5 ml-auto">
    <form action="">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Correo Electronico</mat-label>
          <input matInput placeholder="Correo" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>Tú correo</mat-hint>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          <!--
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>  
      </div>

      <div class="d-flex justify-content-start mb-3">
        <button mat-raised-button color="primary">
          Ingresar
        </button>
      </div>
      <div class="d-flex justify-content-start">
        <button mat-raised-button color="accent" routerLink='/register'>
          Aún no tengo una cuenta.
        </button>
      </div>
    </form>
  </div>
</div>

-->