<header></header>

<div id="formSpace">
  <div class="cnt">
      <img routerLink='/' src="../../assets/img/finantekaPurple.svg" height="40" alt="" srcset="">
      <img routerLink='/' src="../../assets/img/finanteka.svg" height="40" alt="" srcset="">
      <p>Por favor, completa los campos para crear tú cuenta</p>
      <form (ngSubmit)="sendForm()" [formGroup]="registerForm">
        <div class="g">
          <div>
            <span *ngIf="registerForm.get('nombre').hasError('required') && !registerForm.get('nombre').pristine">Campo Obligatorio</span>
            <span *ngIf="registerForm.get('nombre').errors?.minlength && !registerForm.get('nombre').pristine">Mínimo 3 caracteres</span>
            <input required type="text" placeholder="Nombre *" formControlName="nombre">
          </div>
          <div>
            <span *ngIf="registerForm.get('email').hasError('required') && !registerForm.get('email').pristine">Campo Obligatorio</span>
            <span *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').pristine">Debe de ser válido</span>
            <input required type="email" placeholder="Correo Electrónico *" formControlName="email">
          </div>
          <div>
            <span *ngIf="registerForm.get('password').hasError('required') && !registerForm.get('password').pristine">Campo Obligatorio</span>
            <span *ngIf="registerForm.get('password').errors?.minlength && !registerForm.get('password').pristine">Al menos 6 caracteres</span>
            <input required type="password" placeholder="Contraseña *" formControlName="password">
          </div>
          <div>
            <span *ngIf="registerForm.controls['password'].value !== registerForm.controls['repassword'].value" >No Coinciden</span>
            <input required type="password" placeholder="Repite la Contraseña *" formControlName="repassword">
          </div>
        </div>
        <div class="options">
          <div class="rem">
            <mat-checkbox formControlName="terms">Acepto los Términos y Condiciones</mat-checkbox>
          </div>
        </div>
        <div class="buttons">
          <button type="submit" class="done">Regístrame</button>
          <button style="color: #43425D;" routerLink='/login'>Ya tengo cuenta</button>
        </div>
      </form>
      <span class="or">o</span>
      <div class="logBtns">
        <button style="color: blue;">Facebook</button>
      </div>
  </div>
  <a class="tu" href="#">Términos de uso y política de privacidad</a>
</div>
