<header></header>

<div id="formSpace">
  <div class="cnt">
      <img routerLink='/' src="../../assets/img/finantekaPurple.svg" height="40" alt="" srcset="">
      <img routerLink='/' src="../../assets/img/finanteka.svg" height="40" alt="" srcset="">
      <p>Por favor, completa los campos para crear tú cuenta</p>
      <form (ngSubmit)="sendForm()" [formGroup]="registerForm">
        <div class="g">
          <div>
            <span *ngIf="registerForm.controls['nombre'].errors" >El Nombre es obligatorio</span>
            <input required type="text" placeholder="Nombre" name="nombre" formControlName="nombre">
          </div>
          <div>
            <span *ngIf="registerForm.controls['email'].errors" >El Correo no es valido</span>
            <input required type="email" placeholder="Correo Electrónico" name="email" formControlName="email">
          </div>
          <div>
            <span *ngIf="registerForm.controls['password'].errors" >La contraseña es obligatoria</span>
            <span *ngIf="registerForm.controls['password'].minlength">Debe tener minimo 6 caracteres</span>
            <input required type="password" placeholder="Contraseña" name="password" formControlName="password">
          </div>
          <div>
            <span *ngIf="registerForm.controls['password'].value !== registerForm.controls['repassword'].value" >No Coinciden</span>
            <input required type="password" placeholder="Repite la Contraseña" name="repassword" formControlName="repassword">
          </div>
        </div>
        <div class="options">
          <div class="rem">
            <input type="checkbox" name="terms" formControlName="terms"> 
            <span>Acepto los Términos y Condiciones</span>
          </div>
        </div>
        <div class="buttons">
          <button type="submit" class="done">Regístrame</button>
          <button style="color: #43425D;" routerLink='/login'>Ya tengo cuenta</button>
        </div>
      </form>
      <span class="or">o</span>
      <div class="logBtns">
        <button style="color: blue;">Facebook</button>
      </div>
  </div>
  <a class="tu" href="#">Términos de uso y política de privacidad</a>
</div>
