
<div class="container my-5">

  <div class="row">
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Grupo </mat-card-title>
          <mat-card-subtitle>Las Exitosas</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/finantekaPurple.svg" alt="imagen">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <h3>Monto</h3>
              <p>$ 93,000.00</p>
            </div>
            <div class="col">
              <h3>Tasa de Retorno</h3>
              <p>6.89%</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Plazo</h3>
              <p>16 semanas</p>
            </div>
            <div class="col">
              <h3>Integreantes</h3>
              <p>7</p>
            </div>
            <div class="col">
              <h3>Ciclo</h3>
              <p>1</p>
            </div>
          </div>
          <div class="row">
            <h3>Fecha limite para invertir:</h3>
            <p>27/06/2019</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Invertir</mat-label>
              <input matInput placeholder="MXN">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>$$</mat-hint>
            </mat-form-field>
          </div>
          <button mat-raised-button>Fondear</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Grupo </mat-card-title>
            <mat-card-subtitle>Las Exitosas</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/finantekaPurple.svg" alt="imagen">
          <mat-card-content>
            <div class="row">
              <div class="col">
                <h3>Monto</h3>
                <p>$ 93,000.00</p>
              </div>
              <div class="col">
                <h3>Tasa de Retorno</h3>
                <p>6.89%</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3>Plazo</h3>
                <p>16 semanas</p>
              </div>
              <div class="col">
                <h3>Integreantes</h3>
                <p>7</p>
              </div>
              <div class="col">
                <h3>Ciclo</h3>
                <p>1</p>
              </div>
            </div>
            <div class="row">
              <h3>Fecha limite para invertir:</h3>
              <p>27/06/2019</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Invertir</mat-label>
                <input matInput placeholder="MXN">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>$$</mat-hint>
              </mat-form-field>
            </div>
            <button mat-raised-button>Fondear</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
  
</div>
