.target {
    .projectPic,
    .projectInfo {
        vertical-align: top;
        display: inline-block;
    }
    .projectPic {
        width: 100px;
        height: 100px;
        position: relative;
        img {
            top: 10%;
            left: 10%;
            width: 80%;
            border-radius: 50%;
            position: absolute;
        }
    }
    .projectInfo {
        height: auto;
        padding-bottom: 11px;
        width: calc( 100% - 100px);
        .title,
        span {
            padding-left: 0 !important;
        }
        .title {
            padding-bottom: 5px !important;
        }
        .stitle {
            text-align: left;
            font-weight: 600;
            padding-bottom: 0px !important;
        }
        .val {
            height: 25px;
            position: relative;
            padding-right: 20px;
            box-sizing: border-box;
            padding-left: 0 !important;
            text-align: left !important;
            .bar {
                height: 25px;
                position: absolute;
                background: rgb(240, 248, 247);
                border-radius: 4px 4px;
                width: calc(100% - 20px);
                .percent{
                    width: 6.89%;
                    height: 25px;
                    background: #239c81;
                    border-radius: 4px 4px;
                }
                .text {
                    top: 0;
                    left: 0;
                    color: white;
                    line-height: 24px;
                    position: absolute;
                    padding-left: 10px;
                    text-shadow: 2px 2px 4px #239c81;
                }
            }
        }
    }
    .dbl {
        padding-top: 0px !important;
        span {
            font-weight: 600;
            padding: 0 0 !important;
        }
        .val {
            height: 20px;
            line-height: 19px;
            padding-bottom: 0 !important;
        }
    }
    .invertir {
        width: 100%;
        height: auto;
        padding: 0 0;
        form {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        input,
        button {
            height: 30px;
            vertical-align: top;
            display: inline-block;
            margin: 0 0 !important;
        }
        input {
            padding-bottom: 3px;
            background: transparent;
            text-align: left !important;
            border-radius: 2px 0px 0px 2px;
            border: solid 1px rgb(185, 187, 192);
            width: calc(100% - 120px) !important;
        }
        button {
            width: 120px !important;
            border-radius: 0px 2px 2px 0px;
            box-shadow: inherit !important;
            &:hover {
                transform: inherit !important;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .projectPic,
    .projectInfo {
        width: 100% !important;
        * {
            text-align: center !important;
        }
    }
    .projectPic {
        img {
            top: 50%;
            left: 50% !important;
            width: 80px !important;
            height: 80px !important;
            transform: translateX(-50%);
        }
    }
    .projectInfo > * {
        padding-left: 10px;
        padding-right: 10px;
    }
}