
<mat-toolbar color="primary" style="display: none;">
  <mat-toolbar-row>
    <a class="navbar-brand" routerLink='/home'>
      <img src="../../../assets/img/finanteka.svg" width="100" height="auto" alt="Finanteka">
    </a>
    <div class="ml-auto">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink='/login'>
          <mat-icon>perm_identity</mat-icon>
          <span>Iniciar sesión</span>
        </button>
        <button mat-menu-item routerLink='/register'>
          <mat-icon>person_add</mat-icon>
          <span>Crear Cuenta</span>
        </button>
      </mat-menu>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>

<nav>
  <div class="cnt">
    <a class="title" routerLink='/home'>
      <img src="../../../assets/img/finanteka.svg" height="34" alt="Finanteka">
    </a>
    <div id="menu">
      <a href="#" class="active">Inicio</a>
      <a href="#">Nosotros</a>
      <a href="#">Misión</a>
      <a href="#">Proyectos</a>
      <button routerLink='/login'>
        Ingresar
      </button>
      <!--
      <button routerLink='/register'>
        Crear Cuenta
      </button>
      -->
    </div>
  </div>
</nav>
