<nav>
  <div class="cnt">
    <a class="title" routerLink='/'>
      <img src="../../../assets/img/finanteka.svg" height="34" alt="Finanteka">
    </a>
    <div id="menu">
      <a href="#" class="active">Inicio</a>
      <a href="#">Nosotros</a>
      <a href="#">Misión</a>
      <a href="#">Proyectos</a>
      <a routerLink='/login'>Ingresar</a>
      <!--
      <button routerLink='/register'>
        Crear Cuenta
      </button>
      -->
    </div>
    <button id="oMenu"></button>
  </div>
</nav>
