
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="navbar-brand" routerLink='/home'>
      <img src="https://previews.dropbox.com/p/orig/AAfK333KChG495Mil_cxVUgE70L0MJ4FNZvecI87JOHPAciSjEWcHPe_xD0cIjpdxid8BxXEllHUQeFXw7uI7EBh7aqy_Tg3jbuni_fdPQzCPg_UecEt1gdyOuNTjK5FnHG6clUDsZxFsGfLW4Eus5L-qJ9O9uP5t85YTIL6sqSecatEOL_J96zX4Rgyed6Geb80M0B7FTjqH_UEQruCWRaUDog6dZz0yJPTrYOKP9tBdN3x9V2uYMdeWwvbOb6EcvWRFduvlrzZLg-16MV6KU3xAPCvDaUMCKHt5N_24hHSkn4Q3bURPL8ch_9bGhY_LXQ/p.svg?fv_content=true&size_mode=5" width="100" height="auto" alt="Finanteka">
    </a>
    <div class="ml-auto">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink='/login'>
          <mat-icon>perm_identity</mat-icon>
          <span>Iniciar sesión</span>
        </button>
        <button mat-menu-item routerLink='/register'>
          <mat-icon>person_add</mat-icon>
          <span>Crear Cuenta</span>
        </button>
      </mat-menu>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>
