#dashpace {
    width: 100%;
    height: 100%;
    min-width: 320px;
    position: absolute;
    background: rgb(240, 247, 246);
}

nav {
    top: 0;
    right: 0px;
    height: 60px;
    z-index: 600;
    position: absolute;
    background: white; 
    width: calc(100% - 220px);
    box-shadow: 0px 4px 6px rgba( 1, 1, 1, 0.04);
    #finder {
        height: 60px;
        position: relative;
        width: calc( 100% - 260px);
        svg {
            top: 30px;
            left: 25px;
            position: absolute;
            transform: translate(-50%, -50%);
        }
        input {
            width: 100%;
            height: 60px;
            border: solid 0;
            padding-top: 3px;
            padding-left: 40px;
            position: absolute;
            background: transparent;
        }
    }
    #items {
        top: 0px;
        right: 0px;
        width: 260px;
        height: 60px;
        position: absolute;
        button {
            float: right;
            height: 60px;
            border: solid 0px;
            position: relative;
            border-radius: 0 0;
        }
        #user {
            width: 180px;
            * {
                cursor: pointer;
            }
            &::before {
                left: 0;
                top: 15px;
                width: 2px;
                content: "";
                height: 30px;
                position: absolute;
                background: #EBEBF2;
            }
            &::after {
                top: 47%;
                right: 53px;
                width: 10px;
                content: "";
                height: 10px;
                position: absolute;
                border-left: solid 2px #A4AFB7;
                border-bottom: solid 2px #A4AFB7;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            img {
                top: 50%;
                right: 15px;
                width: 35px;
                height: 35px;
                position: absolute;
                border-radius: 50% 50%;
                transform: translateY(-50%);
            }
            label {
                top: 50%;
                left: 5px;
                width: 110px;
                font-size: 13px;
                color: #4D4F5C;
                overflow: hidden;
                position: absolute;
                white-space: nowrap; 
                text-overflow: ellipsis;
                transform: translateY(-50%);
            }
        }
    }
}

#PI {
    top: 0;
    left: 0;
    z-index: 300;
    height: 100%;
    width: 220px;
    overflow: hidden;
    position: absolute;
    background: linear-gradient(45deg, rgb(35, 156, 156) 0%, #239c81 100%);
    button {
        width: 50px;
        height: 60px;
        display: none;
        color: white;
        border: solid 0;
        &::before {
            top: 50%;
            left: 50%;
            width: 40%;
            height: 16px;
            content: "";
            position: absolute;
            border-top: solid 2px;
            border-bottom: solid 2px;
            transform: translate(-50%,-50%);
        }
        &::after {
            top: 50%;
            left: 50%;
            width: 40%;
            height: 0px;
            content: "";
            position: absolute;
            border-top: solid 1px;
            border-bottom: solid 1px;
            transform: translate(-50%,-50%);
        }
    }
    #title {
        width: 100%;
        height: 60px;
        position: relative;
        background: rgba( 1, 1, 1, 0.1);
        img {
            top: 50%;
            left: 25px;
            height: 35px;
            position: absolute;
            transform: translate(0, -50%);
        }
    }
    #menu {
        a {
            height: 50px;
            display: block;
            position: relative;
            text-decoration: none;
            &.active {
                background: rgba( 1, 1, 1, 0.2);
                svg {
                    fill: #a0fbe4;
                }
                &::before {
                    top: 0;
                    left: 0;
                    width: 4px;
                    content: "";
                    height: 50px;
                    position: absolute;
                    background: #a0fbe4;
                }
            }
            svg {
                top: 50%;
                left: 29px;
                position: absolute;
                transform: translate(-50%, -50%);
            }
            span {
                left: 50px;
                font-size: 15px;
                line-height: 49px;
                position: absolute;
                font-weight: 200 !important;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}

#container {
    top: 60px;
    left: 220px;
    overflow: auto;
    position: absolute;
    padding: 40px 40px;
    box-sizing: border-box;
    height: calc(100% - 60px);
    width: calc(100% - 220px);
    padding-top: 0px;
}

.pane {
    z-index: 900;
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 2px 14px rgba( 1, 1, 1, .15);
    &.open {
        display: block;
    }
}

#userAction {
    top: 55px;
    right: 30px;
    width: 200px;
    &::before {
        width: 0;
        height: 0;
        left: 50%;
        top: -20px;
        content: "";
        position: absolute;
        border: solid 10px white;
        transform: translateX(-50%);
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    button {
        width: 100%;
        font-size: 13px;
        border: solid 0;
        color: rgb(77, 92, 90);
    }
    hr {
        width: 80%;
        opacity: .5;
        margin: 0 auto;
        background: rgb(241, 243, 243);
    }
}

@media screen and (max-width: 1200px) {
    #PI {
        width: 50px;
        #title {
            img {
                display: none;
            }
            button {
                display: block;
            }
        }
        a {
            svg {
                left: 25px !important;
            }
        }
    }
    #container,
    nav {
        left: 50px;
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 400px) {
    #container {
        overflow: auto;
        position: absolute;
        box-sizing: border-box;
        padding: 10px 10px !important;
    }
}
