
<app-navbar></app-navbar>

<div class="container my-4">
  <div class="col-12">
    <h1 class="text-center">Finanteka</h1>
    <p>
      La mejor Plataforma de Crowlending
      <span>"Creemos en las Personas"</span>
    </p>
  </div>
  <div class="col-12">
    <h3>¿Quienes somos?</h3>
    <p>
      Somos una plataforma de Crowlending que conecta negocios rurales desbancarizados,
      con inversiones que ademas de buscar utilidad por los prestamos que otrorgan, quieren
      quenerar un impacto social.
      <span>No somos una ONG, somos una empresa.</span>
    </p>
  </div>
  <div class="col-12">
    <h3>Nuestra Misión</h3>
    <p>
      "Acelerar el desarrollo de comunidades rurales por medio de la inclusión financiera".
      Según datos del Banco Mundial, en 1990 el 36% de la población mundial vivía en pobreza extrema. 
      En 2015 bajó al 10%.
    </p>
    <p>
      Nuestra generación será pieza fundamental para ver reducida la pobreza extrema a niveles nunca visto y 
      nosotros queremos aportar nuestro granito de arena para lograr este objetivo.
    </p>
  </div>
</div>
<div class="container mb-5">
  <h3>Finanteka en Números</h3>
  <div class="row my-3">
    <div class="col-md-4 col-lg-4 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Proyectos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Más de 1 millón de pesos en prestamos.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Rendimientos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ofrecemos una tasa Cuatrimestral del 6 %.
            El 98% de nuestros acreditados pagan a tiempo
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Presencia</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Tenemos presencia en 5 municipios del estado de México.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <h3>Calcula tus rendimientos con nosotros.</h3>
    <p>Aqui va el Simulador de rendimientos</p>
  </div>
</div>

<app-footer></app-footer>