header {
    width: 100%;
    min-height: 800px;
    position: relative;
    background-color: rgb(210, 67, 84); 
    background-color: rgb(77, 72, 182); 
    background-image: url("../../../assets/img/backs/bg-girl-02.jpg"); 
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    .ola {
        left: 0px;
        bottom: 0px;
        width: 100%;
        position: absolute;
    }
    .ola2 {
        left: 0px;
        bottom: 0px;
        width: 100%;
        position: absolute;
    }
    #principal {
        color: white;
        min-height: 500px;
        position: relative;
        padding-top: 100px;
        .left {
            left: 0;
        }
        .right {
            right: 0;
        }
        .left, .right {
            width: 50%;
            height: 100%;
            display:flex;
            position: absolute;
            .cnt {
                width: 100%;
                margin:auto;
                img {
                    border-radius: 4px 4px;
                    box-shadow:  -8px 8px 16px rgba(24, 26, 56, 0.8);
                }
            }
            span {
                font-size: 28px;
            }
            h1 {
                margin: 0 0;
                font-size: 38px;
                font-weight: 600;
            }
        }
    }
}

.contenedor {
    width: 100%;
    padding-top: 30px;
    position: relative;
    padding-bottom: 30px;
    h1 {
        text-align: center;
        color: rgb(77, 72, 182);
    }
}

.contenedor.gray {
    background: #F0F0F7;
}

.contenedor.back {
    color: white;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    background-color: rgb(210, 67, 84); 
    background-color: rgb(77, 72, 182); 
    background-image: url("../../../assets/img/backs/bg-girl-02.jpg"); 
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    h1 {
        color: white;
    }
    .targets {
        padding-top: 20px;
        text-align: center;
        .target {
            width: 33%;
            height: 220px;
            min-width: 340px;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 30px;
            vertical-align: top;
            display: inline-block;
            box-sizing: border-box;
            .item {
                width: 100%;
                height: 220px;
                border-radius: 4px 4px;
                .head { 
                    height: 40px;
                    display: table;
                    margin: auto auto;
                    line-height: 39px;
                    text-align: center;
                    padding-left: 16px;
                    padding-right: 16px;
                    vertical-align: top;
                    border-radius: 4px 4px;
                    text-transform: uppercase;
                    background: rgba( 1, 1, 1, 0.5);
                }
                .text {
                    width: 100%;
                    height: 165px;
                    display: flex;
                    padding: 15px 15px;
                    text-align: center;
                    box-sizing: border-box;
                    span {
                        margin: auto;
                    }
                }
            }
        }
    }
}

.contenedor.olaTopLight {
    padding-top: 60px;
    &::before {
        transform: rotate(180deg);
        background-image: url(../../shared/../../assets/img/backs/olaLight.png);
        background-size: cover;
        top: -0.0625rem;
        content: "";
        left: 0;
        height: 3.75rem;
        position: absolute;
        width: 100%;
    }
}

.contenedor.olaTopLight2 {
    padding-top: 60px;
    &::before {
        transform: rotate(180deg);
        background-image: url(../../shared/../../assets/img/backs/olaLightGrey.png);
        background-size: cover;
        top: -0.0625rem;
        content: "";
        left: 0;
        height: 3.75rem;
        position: absolute;
        width: 100%;
    }
}

.contenedor.olaBottomLight {
    padding-bottom: 60px;
    &::after {
        background-image: url(../../shared/../../assets/img/backs/olaLight.png);
        background-blend-mode: multiply;
        background-size: cover;
        bottom: -0.0625rem;
        content: "";
        left: 0;
        height: 3.75rem;
        position: absolute;
        width: 100%;
    }
}

.contenedor.olaBottomLight2 {
    padding-bottom: 60px;
    &::after {
        background-image: url(../../shared/../../assets/img/backs/olaLightGrey.png);
        background-blend-mode: multiply;
        background-size: cover;
        bottom: -0.0625rem;
        content: "";
        left: 0;
        height: 3.75rem;
        position: absolute;
        width: 100%;
    }
}

@media screen and (max-width: 775px) {
    #principal {
        .left, .right {
            text-align: center;
            position: relative !important;
            width: 100% !important;
        }
        .right {
            padding-top: 25px;
        }
    }
}