
<app-navbar></app-navbar>

<header>
  <img class="ola" src="../../../assets/img/backs/ola2.svg" alt="" srcset="">
  <img class="ola" src="../../../assets/img/backs/ola.svg" alt="" srcset="">
  <section id="principal" class="cnt">
    <div class="left">
      <div class="cnt">
          <span>Finanteka</span> <br>
          <h1>La mejor Plataforma de Crowlending "Creemos en las Personas"</h1>
          <button style="color: white; margin-top: 12px;" routerLink="/register">Comenzar a aportar</button>
      </div>
    </div>
    <div class="right">
      <div class="cnt">
        <img src="../../../assets/img/backs/Dashboard Interface (Look & Feel).png" width="100%" alt="">
      </div>
    </div>
  </section>
</header>

<div id="cont">
  <!-- Nosotros / / / / / / / / / /  -->
  <div class="contenedor">
    <div class="cnt">
      <h1>¿Quienes somos?</h1>
      <p class="center padding">
          Somos una plataforma de Crowlending que conecta negocios rurales desbancarizados, con inversiones 
          que ademas de buscar utilidad por los prestamos que otrorgan, quieren quenerar un impacto social. 
          No somos una ONG, somos una empresa.
      </p>
    </div>
  </div>
  <!-- Misión / / / / / / / / / /  -->
  <div class="contenedor gray olaTopLight">
    <div class="cnt">
      <h1>Nuestra Misión</h1>
      <p class="center padding">
          "Acelerar el desarrollo de comunidades rurales por medio de la inclusión financiera". <br><br>
          Según datos del Banco Mundial, en 1990 el 36% de la población mundial vivía en pobreza extrema. 
          En 2015 bajó al 10%. <br><br>
          Nuestra generación será pieza fundamental para ver reducida la pobreza extrema a niveles nunca 
          visto y nosotros queremos aportar nuestro granito de arena para lograr este objetivo.
      </p>
    </div>
  </div>
  <!-- Proyectos / / / / / / / / / /  -->
  <div class="contenedor back olaTopLight2 olaBottomLight">
    <div class="cnt">
      <h1>Finanteka en Números</h1>
      <div class="targets">
        <div class="target">
          <div class="item">
            <div class="head">Proyectos</div>
            <img src="assets/img/coins.svg" alt="dinero" height="65">
            <div class="text">
              <span>
                <div>Más de</div>
                <div class="number">
                  <div class="num">1</div>
                  <div class="txt">millón</div>
                </div>
                <div>de pesos en prestamos.</div>
              </span>
            </div>
          </div>
        </div>
        <div class="target">
          <div class="item">
            <div class="head">Rendimientos</div>
            <img src="assets/img/chart.svg" alt="rendimientos" height="65">
            <div class="text">
              <span>
                <div>Ofrecemos una tasa Cuatrimestral del</div>
                <div class="number">
                  <div class="num">6</div>
                  <div class="txt">%</div>
                </div>
                <div>El</div>
                <img src="assets/img/invoice.svg" alt="mora" height="65">
                <div class="number">
                  <div class="num">98</div>
                  <div class="txt">%</div>
                </div>
                <div>de nuestros acreditados pagana tiempo.</div>
              </span>
            </div>
          </div>
        </div>
        <div class="target">
          <div class="item">
            <div class="head">Presencia</div>
            <img src="assets/img/destination.svg" alt="" height="65">
            <div class="text">
              <span>
                <div>Tenemos presencia en</div>
                <div class="number">
                  <div class="num">5</div>
                  <div class="txt">municipios</div>
                </div> 
                <div>del estado de México.</div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Nosotros / / / / / / / / / /  -->
  <div class="contenedor">
    <div class="cnt">
      <h1>Calcula tus rendimientos con nosotros</h1>
      <app-yields-calculator></app-yields-calculator>
      <div id="comenzar">
        <button routerLink="/register" >
          Comenzar a Invertir
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>