
<app-navbar></app-navbar>

<header>
  <img class="ola" src="../../../assets/img/backs/ola2.svg" alt="" srcset="">
  <img class="ola" src="../../../assets/img/backs/ola.svg" alt="" srcset="">
  <section id="principal" class="cnt">
    <div class="left">
      <div class="cnt">
          <span>Finanteka</span> <br>
          <h1>La mejor Plataforma de Crowlending "Creemos en las Personas"</h1>
          <button style="color: white; margin-top: 12px;">Comenzar a aportar</button>
      </div>
    </div>
    <div class="right">
      <div class="cnt">
        <img src="../../../assets/img/backs/Dashboard Interface (Look & Feel).png" width="100%" alt="">
      </div>
    </div>
  </section>
</header>

<div id="cont">
  <!-- Nosotros / / / / / / / / / /  -->
  <div class="contenedor">
    <div class="cnt">
      <h1>¿Quienes somos?</h1>
      <p class="center padding">
          Somos una plataforma de Crowlending que conecta negocios rurales desbancarizados, con inversiones 
          que ademas de buscar utilidad por los prestamos que otrorgan, quieren quenerar un impacto social. 
          No somos una ONG, somos una empresa.
      </p>
    </div>
  </div>
  <!-- Misión / / / / / / / / / /  -->
  <div class="contenedor gray">
    <div class="cnt">
      <h1>Nuestra Misión</h1>
      <p class="center padding">
          "Acelerar el desarrollo de comunidades rurales por medio de la inclusión financiera". <br><br>
          Según datos del Banco Mundial, en 1990 el 36% de la población mundial vivía en pobreza extrema. 
          En 2015 bajó al 10%. <br><br>
          Nuestra generación será pieza fundamental para ver reducida la pobreza extrema a niveles nunca 
          visto y nosotros queremos aportar nuestro granito de arena para lograr este objetivo.
      </p>
    </div>
  </div>
  <!-- Proyectos / / / / / / / / / /  -->
  <div class="contenedor back">
    <div class="cnt">
      <h1>Finanteka en Números</h1>
      <div class="targets">
        <div class="target">
          <div class="item">
            <div class="head">Proyectos</div>
            <div class="text">
              <span>
                Más de 1 millón de pesos en prestamos.
              </span>
            </div>
          </div>
        </div>
        <div class="target">
          <div class="item">
            <div class="head">Rendimientos</div>
            <div class="text">
              <span>
                Ofrecemos una tasa Cuatrimestral del 6 %. El 98% de nuestros acreditados pagan 
                a tiempo.
              </span>
            </div>
          </div>
        </div>
        <div class="target">
          <div class="item">
            <div class="head">Presencia</div>
            <div class="text">
              <span>
                Tenemos presencia en 5 municipios del estado de México.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Nosotros / / / / / / / / / /  -->
  <div class="contenedor">
    <div class="cnt">
      <h1>Calcula tus rendimientos con nosotros</h1>
      <div class="my-3">
        <app-yields-calculator></app-yields-calculator>
        <div class="my-3">
            <button mat-raised-button class="btn-block" routerLink="/login" 
              color="accent">
              Empezar a Invertir
             <mat-icon>attach_money</mat-icon>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>