#chartCont {
    position: relative;
    vertical-align: top;
}

#chartInfo {
    width: 240px;
    height: 300px;
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    .cnt {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
    }
    h2 {

    }
    .calc {
        input {
            width: 220px;
            text-align: center;
            padding-bottom: 3px;
            animation: btn infinite 1.4s;
            border-bottom: solid 2px rgb(213, 214, 219);
            &:focus, &:hover {
                animation: inherit;
                border-bottom: solid 2px #43425D;
            }
        }
        button {
            color: white;
            border: solid 0;
            margin-top: 20px;
            background: #43425D;
        }
    }
}

#chart {
    height: 100%;
    display: inline-block;
    width: calc( 100% - 240px);
    vertical-align: top;
}



@media screen and (max-width: 775px) {
    #chartInfo,
    #chart {
        width: 100% !important;
    }
    #chartInfo {
        height: 200px;
    }
}

@keyframes btn {
    0% {
        border-bottom: solid 2px rgb(213, 214, 219);
    }
    50% {
        border-bottom: solid 2px #43425D;
    }
    100% {
        border-bottom: solid 2px rgb(213, 214, 219);
    }
}