<div class="chartCont">
  <div id="chartInfo">
    <div class="cnt">
      <h2>Rendimiento</h2>
      <div class="calc">
        <input type="number" placeholder="$ Ingresa una Cantidad MXN" #cantidad> <br>
        <button (click)="calcular(cantidad.value)">
          Calcular
        </button>
      </div>
      <div class="mt-3">
        Total de Rendimientos Generados:
        <p>{{totalRend | number}}</p>
      </div>
    </div>
  </div>
  <div id="chart">
    <div class="cnt">
      <canvas height="300" id="myChart" baseChart
          [datasets]="ChartData"
          [labels]="ChartLabels"
          [options]="ChartOptions" 
          [plugins]="ChartPlugins"
          [legend]="ChartLegend"
          [chartType]="ChartType"
          [colors]="ChartColor"
          (chartHover)="chartHovered($event)"
      ></canvas>
    </div>
  </div>
</div>