/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body { height: 100%; }
body { margin: 0; font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif; }

* { outline: none !important; }

.cnt {
    margin: auto auto;
    max-width: 1100px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}

button {
    height: 34px;
    line-height: 25px;
    border: solid 1.5px;
    border-radius: 4px 4px;
    box-sizing: border-box;
    background: transparent;
    padding-right: 9px;
    padding-left: 9px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
    outline: none;
    border: solid 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
    box-sizing: border-box;
    transition: color 0.2s;
    border-bottom: solid 2px rgb(213, 214, 219);
}

h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
}

p {
    font-size: 18px;
}

p.center {
    text-align: center;
}

p.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}